.carousel-item {
    height: 80vw;
    max-height: 500px;
    margin: 0 auto;
    max-width: 100vw;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
}

.carousel-caption h3,
.carousel-caption p {
    color: #fff;
}