.custom-carousel .slide {
    height: 80vw;
    max-height: 500px;
    background-size: cover;
    overflow: hidden !important;
}


.wrap_slider {
    position: relative;
}

.width-slider {
    width: 830px;
    height: 540px;
    position: relative;
    left: 0;
    max-width: 100%;
    border-radius: 20px;

}

.custom-carousel .carousel-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}


.custom-carousel .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #413e3e;
}

.custom-carousel .legend {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 1;
    border-bottom: 4px solid #5677c2;
}

.custom-carousel .control-arrow {
    height: 100% !important;
}

.custom-carousel .control-dots {
    display: none;
}

.custom-carousel .slider-wrapper {
    overflow: hidden;
}

.carousel .slide .legend {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;

    width: 100%;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.8;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
    background-color: transparent;
}

.legend {
    top: 0px;
    border-radius: 20px;
}

.description {
    position: absolute;
    top: 115px;

    padding: 16px;
    background: #00000055;
    width: 100%;
    z-index: 100000000;
    color: #fff;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    left: 70px;


}



.title {
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 37px;

    padding: 10px;
    width: 100%;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    z-index: 100000000;
    background: #00000055;



}

.btn {
    background-color: #1632a2;

}

.slider_image {
    width: 100%;
    height: 90%;
    border-radius: 20px;
}

.btn-more {
    width: 77px;
    color: #f5f5f5;
    position: absolute;
    left: 45%;
    bottom: 15%;



}

.carousel .carousel .control-dots {
    display: none !important;
}

.carousel.carousel-slider .control-arrow {

    color: #fff;
    font-size: 26px;
    margin: 0 auto;
    padding: 10px;
    height: 200px;
    position: absolute;
    top: 50%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .carousel.carousel-slider .control-arrow {
        height: 300px;

        /* Adjust the height for smaller screens */
    }

    .title {
        right: 17px;
        font-weight: 500;
        font-size: 2rem;

        font-family: 'Amiri' !important;




    }

    .description {
        left: 19px;
        font-weight: 700;
    }

    .btn-more {
        left: 39%;
        bottom: 46%;
    }
}

@media screen and (max-width: 480px) {
    .carousel.carousel-slider .control-arrow {
        height: 200px;
        /* Adjust the height for even smaller screens */
    }

    .slider_image {
        height: 60%;
        width: 70%;
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) and (min-width: 480px) {

    .custom-carousel .slide {
        min-height: 100%;
    }

    .custom-carousel .carousel-caption {
        font-size: 1.5rem;
    }

    .custom-carousel .title {
        font-size: 18px;
        padding: 8px;
    }

    .slider_image {
        height: 80%;
        width: 70%;

    }

}