.custom-carousel .slide {
    height: 80vw;
    max-height: 500px;
    background-size: cover;
    overflow: hidden !important;
}

.custom-carousel .carousel-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.custom-carousel .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #413e3e;
    font-size: 24px;
    color: #fff;
    padding: 10px;
}

.custom-carousel .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #413e3e;
}

.custom-carousel .legend {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 1;
    border-bottom: 4px solid #5677c2;
}

.custom-carousel .control-arrow {
    height: 100% !important;
}

.custom-carousel .control-dots {
    display: none;
}

.custom-carousel .slider-wrapper {
    overflow: hidden;
}

.carousel .slide .legend {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.8;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
    background-color: transparent;
}

.legend {
    top: 0px;
}

.description {
    position: relative;
    top: 67px;
    background: #00000055;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 10px;
    width: 70%;
    background: #00000055;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
    margin-top: 10%;

}

.title {
    background: #00000055;
    padding: 10px;
    color: #fff;
    position: relative;
    top: 17px;
    padding: 10px;
    color: #f5f5f5;

}

.btn {
    background-color: #1632a2;

}

.slider_image {
    border-radius: 8%;
    width: 100%;
    max-width: 200%;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .custom-carousel .slide {
        height: auto;
        max-height: none;
    }

    .custom-carousel .carousel-caption {
        font-size: 1.5rem;
    }

    .custom-carousel .title {
        font-size: 18px;
        padding: 8px;
    }
}