@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.main_wrap {
    width: 60%;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Amiri'
}

@media screen and (max-width: 768px) {
    .main_wrap {
        width: 90%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 576px) {
    .main_wrap {
        width: 80%;
        margin: 78px auto;
        gap: 40px;
    }
}


* {
    border: 1px solid red;
}