@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.main_wrap {
    width: 830px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Amiri';
    position: relative;
    top: 80px;

}

@media screen and (max-width: 768px) {
    .main_wrap {
        width: 90%;
        top: 80px;

    }
}

@media screen and (max-width: 576px) {
    .main_wrap {
        width: 80%;
        gap: 40px;
    }
}