* {

    font: 1em 'Dosis', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.offcanvas-body {
    padding: 0px !important;
}

.offcanvaimg {


    background-color: #505153 !important;
    color: #ffff;
    display: flex;
    flex-direction: row;
    width: 105%;
    margin-left: -20px;
    flex-wrap: wrap;
    justify-content: space-around;

    font: 1em 'Dosis', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-family: 'Oswald', sans-serif;
    ;

}

.offcanvaimg p {
    margin: 20px;

}

.offcanvaimg img {
    position: relative;
    margin: 15px 10px 15px 20px;
    left: 0px;
    top: 0px
}

.offcanvaimg p {
    padding: 20px 20px 0px 0px;

    font-weight: 600;
    color: #ffffff;
}



.my-nav-link {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;

    color: #ffff !important;
}

.language_btn {
    position: absolute;
    top: 110px;
    right: 12px;
    width: 80px;
    opacity: 0.9;
    background-color: rgb(22, 50, 162) !important
}



@media (max-width: 992px) {
    .language_btn {

        top: 7rem;
        left: 14px;

    }
}

.nav_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
}